<!DOCTYPE html>
<html lang="en">
<%-include('../partials/head',{title:'carrito'})  %>  
<body class="home-container carrito-container">
    <%-include('../partials/header')  %> 
    <header class="header-container">
        
        <section class="carrito2">
            <div class="product">
                <div class="section1">
                    <img src="/images/products/guitar1.png" alt="imagen">
                    <h2>Producto</h2>
                    <p class="price">200</p>
                    <input class="cantidad" type="number" value="1";>
                    <p class="price">200</p>
                </div>
                <div class="section2">
                    <p>Descripción breve del producto</p>
                    <a href="">eliminar</a>
                </div>
          
            </div> <!--cierra el producto -->
            <div class="product">
                <div class="section1">
                    <img src="/images/products/stratocaster.png" alt="imagen">
                    <h2>Producto</h2>
                    <p class="price">200</p>
                    <input type="number" value="1";>
                    <p class="price">200</p>
                </div>
                <div class="section2">
                    <p>Descripción breve del producto</p>
                    <a href="">eliminar</a>
                </div>

            </div> <!--cierra el producto -->

                <div class="btn" >
                    <a href="/"> 
                    <button class="btn-style" >Seguir Comprando</button>
                    </a>
                    <button class="btn-style">Finalizar Compra</button>
                </div>
        </section>
        
    </header>
<%-include('../partials/footer')  %> 
</body>
</html>