<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="logo">
     <img src="images/Central Music Logo.svg" alt="logo-fa-music" style="max-width: 100%;">
    </div>
    
    <section class="formularioLogin">
      <h2>Inicia Sesión</h2>
      <form action="">
          <div>
              <input type="email" name="email" placeholder="Correo Electrónico">
          </div>
          <div>
              <input type="password" name="pass" placeholder="Contraseña">
          </div>
          <div>
              <button type="submit">Entrar</button>
          </div>
          <span>¿No tienes una cuenta? <a href="formularios">Registrate</a></span>
      </form>
  </section>

           
         <span><a href="register.html" class="noTengoCuenta">No tengo cuenta</a></span>
     </div>
    
    </form>
</body>
</html>