<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="login.css">
    <script src="https://kit.fontawesome.com/a69da99239.js" crossorigin="anonymous"></script>
</head>
<body class="forms">
    <div class="login-container">
        <div class="login.box">
            <img src="LOGO.png" alt="logo-fa-music" style="max-width: 100%;">
        </div>
   <section class="form-container login">
      <h2 class="nombreLogin">LOGIN</h2>
    <form action="" method="">
        <div class="input-container">
            <span class="error-message">Email</span>
            <input type="email" class="input-style" name="email" placeholder="Ingrese su email" required>
            
        </div>
        <div class="input-container">
            <span class="error-message">Contraseña</span>
            <input type="password" class="input-style" name="pass" placeholder="Ingrese una contraseña" required>
            <h1>Olvido su contraseña?</h1>
        </div>
        <div class="input_check-container">
            <label for="recordar">Recordarme</label>
            <input type="checkbox" name="remember" id="recordar">
            <span class="error-message">Credenciales inválidas</span>
        </div>
        <div class="btn-container">
         <button type="submit" class="btn btn-submit">Ingresar</button>
        </div>
        <span><a href="register.html" class="noTengoCuenta">No tengo cuenta</a></span>
    </div>
     </section>
</body>
</html>