<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body class="registro">
  <div class="logo">
    <img src="images/Central Music Logo.svg" alt="logo-fa-music" style="max-width: 100%;">
   </div>
    <form class="formulario">
        <h1>REGISTRO</h1>
        
          <div class="contenedor-formulario">
              <div class="input-contenedor">
                  <i class="fa-solid fa-user"></i>
                  <input type="text" placeholder="Nombre Completo">
              </div>
              <div class="input-contenedor">
                  <i class="fa-solid fa-envelope"></i>
                  <input type="email" placeholder="Correo Electronico">
              </div>
              <div class="input-contenedor">
                  <i class="fa-solid fa-key"></i>
                  <input type="password" placeholder="Contraseña">
              </div>
              <input type="submit" value="Registrate" class="button">
              <p class="texto-formulario">Al registrarte aceptas las Condiciones de uso y las Politicas de
                  privacidad
   
</body>
</html>