* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
    font-family: 'Work Sans';
}

.home-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    max-width: 375px;
    margin: 0 auto;
    background: #FFFFFF;
    
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

main a {
    color: #252525;
}

footer a {
    color: #FFFFFF;
}


@media (min-width: 768px) {

    /* cambiando estilos del header */

    .home-container {
        max-width: 1025px;
        overflow-y: scroll;
    }


    /* din estilos header */


   
}

@media (min-width: 1353px) {

    /*  edito body para que  no cresca mas de 1440 pporque a mayor resolucion se estira todo y no sirve */

    .home-container {
        max-width: 1440px;
    } 
    
}
