@import url('general.css');
@import url('login.css');
@import url('REGISTRO.CSS');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

.home-container {
    font-family: 'Work Sans';
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    max-width: 375px;
    margin: 0 auto;
    background: #FFFFFF;
    
}


.header-container {
    background: url('../images/guitarra.jpg'), linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #021E49 73.96%);
    background-position: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply, normal;
    height: 507px;
    padding: 44px 24px;
    
}


/* DANDO ESTILOS A LA BARRA DE NAVEGACION LOGO Y MENU */
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.menu-header {
    display: none;
}

.icons-container {
    display: none;
}

.menu-burger {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    border-radius: 1px;
}

/* FIN DE ESTILOS DE LA BARRA DE NAVEGACION LOGO Y MENU*/

/* DANDO STYLOS AL HEADER */

.header-frase {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 253px;
    height: 334px;
    padding: 0px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}


   
   
   

.lesson-container {
    background: url('../images/guitarlesson2.avif') #ab0433;
    background-blend-mode: darken, normal;
    background-position: 70%;
    border-radius: 10px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 168px;
    left: 24px;
    right: 23px;
    top: 422px;
    color: #FFFFFF;
    align-items: center;

    
}

.lesson-container h2 {
    font-size: 21px;
    font-weight: 700;
    line-height: 120%;
    width: 209px;
    
}

.lesson-container p {
    margin-top: 2px;
    font-size: 10px;
    width: 209px;
    
}

.btn-container {
    margin-top: 15px;
   
}

.btn-style {
    padding: 8px;
    background-color: #FF753A;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #FF753A;
    border-radius: 16px;
}


/* FIN DE ESTILOS AL HEADER */

/*--------------------------------------------------------------------------------------------------------------------------------*/



/* DANDO ESTILOS A LA SECCION NEW PRODUCTS Y POPULAR FINDS*/

main {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 120px;
   margin-bottom: 200px;
   
    
    
}


.new-products {
    width: 100%;
}

.popular-finds {
    background-color: #EAEAEA;
    width: 100%;
    padding-bottom: 60px;
}

.other-products {
    width: 100%;
}

main h3 {
    margin-top: 27px ;
    margin-bottom: 20px;
    width: 100%;
    font-size: 24px;
}

main article {
    height: 400px;
    margin-bottom: 20px;
}


.new-products-separador {
    width: 80px;
    border: 3px solid #ab0433;
    border-radius: 10px;
}

.popular-finds-separador {
    width: 80px;
    border: 3px solid #ab0433;
    border-radius: 10px;
}

.gear-hands-separador {
    width: 80px;
    border: 3px solid #ab0433;
    border-radius: 10px;
    
}



.new-products .img-container img {
    transform: translateY(-26px);
}


.new-products .img-container {
    width: 100%;
    height: 260px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%)

}

.popular-finds  .img-container {
    width: 100%;
    height: 260px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

}

main img {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 2px 4px rgba(28, 5, 77, 0.1)) drop-shadow(0px 12px 32px rgba(0, 0, 0, 0.05));
    

    
    
    
}



.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    
}

.product-container {
    width: 328px;
    height: 100%;
    border: 1px solid rgba(146, 146, 146, 0.301);
    border-radius: 15px;
    background-color: #FFFFFF;

    
}

.guitar-precio {
    display: flex;
    justify-content: space-between;
}

.description-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: start;
    height: 139px;
}

.description-container h4 {
    text-align: start;
    width: 214px;
    color: #252525;
}

.description-container h4 + p {
    font-weight: bold;
}

.description {
    margin-top: 5px;
    font-size: 14px;
    color: #767676;
    font-weight: 500;
    flex-grow: 1;
}

.description + p {
    margin-top: 22px;
    font-size: 12px;
    color: #505050;
}
/* FIN DE STILOS  A NEW PRODUCTS Y POPULAR FINDS*/

/* -----------------------------------------------------------------------------------------------------------------------------*/

/* DANDO ESTILOS A LA SECCION GEAR HANDS */

.other-products article {
    height: 450px;
}

.other-products .product-container {
    padding: 0;
    border: none;
    background-color: #EAEAEA;
}


.other-products .img-container {
    height: 311px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;

}


.other-products #pedales {
    
    background: url('../images/Home/Gear Hands/pedales.jpg'), linear-gradient(134.57deg, #FFFFFF 0%, #D1D1D1 100%);
    background-position: 50%;
    background-size: cover;
    
}


.other-products #aprender {
    background: url('../images/Home/Gear Hands/aprender.jpg');
    background-position: 50%;
    background-size: cover;
}

.other-products #como-sonar {
    background: url('../images/Home/Gear Hands/como-sonar.jpg');
    background-position: 50%;
    background-size: cover;
}

.other-products #tono {
    background: url('../images/Home/Gear Hands/jams.avif');
    background-position: 50%;
    background-size: cover;
    
}

.other-products #setup {
    background: url('../images/Home/Gear Hands/lespaul.jpg');
    background-position: 50%;
    background-size: cover;
}

.learn-container .description-container {
    display: flex;
    height: 130px;
    text-align: start;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #EAEAEA;
    justify-content: center;
}

.learn-container .description-container h4 {
    
    font-size: 20px;
}

.learn-container p {
    color: #767676;
}


.other-products article {

    height: 100%;
    border: none;
    border-radius: 15px;
    
}

.other-products article:nth-child(4) {
    display: none;
}

/* fin estilos seccion Gear Hands */


/* inicio footer */

.footer-container {
    background-color: #505050;
    height: 258px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 31px;

}




ul {
    list-style: none;
    color: #FFFFFF;
}

.footer-menu-store {
    display: none;
}



.footer-menu-account div {
    border-bottom: 3px solid white;
    width: 55px;
    margin: 0 auto;
    border-radius: 3px;
}

.footer-menu-account li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-account {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
}


.redes-sociales {
    margin-top: 15px;
    height: 50px;
}

.footer-container + p {
    padding: 8px 0;
    background-color: #252525;
    font-size: 14px;
    color: #EAEAEA;
    font-weight: 300;
}

.footer-redes-container .logo-container {
    display: none;
}


/* fin footer */


/* media querie para tablet */

@media (min-width: 768px) {

    /* cambiando estilos del header */

    .home-container {
        max-width: 1025px;
        overflow-y: scroll;
    }

    .header-container {
       background: url('../images/Rectangle\ 79.png');
       height: 813px;
       background-size: cover;
       background-position: 50%;
       padding: 37px 65px;
       
       
   }

   .logo-container img {
       height: 40px;
   }

    


   .header-frase {
        text-align: left;
        font-size: 56px;
        width: 561px;
        padding: 0;
        height: 561px;
        line-height: 120%;
        letter-spacing: 0.02em
        
    }

   .lesson-container {
        top: 664px;
        left: 65px;
        right: 65px;
        height: 280px;
        justify-content: center;
        align-items: center;
        background-size: cover;
        
    }

    .lesson-container h2 {
        width: 616px;
        font-size: 46px;
    }

    .lesson-container p {
        width: 616px;
        font-size: 24px;
    }

    .btn-style {
        width: 125px;
        height: 34px;
        font-size: 16px;
        border-radius: 32px;

    }


    /* din estilos header */

    /* comienzo de estilos de la seciones main */

    main {
        margin-top: 166px;
    }

    main h3 {
        font-size: 40px;
        
    }

    main article {
        margin-bottom: 40px;
        
    }

   

    .new-products-separador {
        width: 260px;
    }

    .popular-finds-separador {
        width: 88px;
    }

    .gear-hands-separador {
        width: 88px;
    
    }


    .new-products, .popular-finds, .other-products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0 22px;
        
    }

    .product-container {
        width: 408px;
        
        height: 417px;
    }

   .guitar-precio {
       font-size: 18px
   }

   .description {
       font-size: 16px;
   }

   /* fin main */
   

   /* inicio footer   */

   .footer-container {
       flex-direction: row;
       justify-content: flex-start;
       padding-top: 69px;
       padding-left: 64px;
       padding-right: 64px;
       padding-bottom: 50px;

   }

   .footer-menu-account {
       margin-right: 48px;
       text-align: start;

   }

 

   .footer-menu-store {
       display: block;
       flex-grow: 1;
       text-align: start;
       
   }

   .footer-menu-account div {
       margin: 0;
   }

   .footer-menu-store div {
       border-bottom: 3px solid white;
       width: 55px;
       border-radius: 3px;
    
   }

   .footer-store {
       margin-top: 10px;
       font-weight: bold;
       
   }

   
   .footer-menu-store li {
       margin-bottom: 10px;
       font-size: 14px;
   }

   

   .footer-redes-container .logo-container {
       display: block;
   }

   .footer-redes-container {
       display: flex;
       flex-direction: column;
       align-items: flex-end;
       justify-content: flex-end;
   }

   .footer-container + p {
       padding-left: 64px;
       text-align: start;
   }

   /* fin footer */
   
}

/* con esta media querie la uso para que las cajas de la seccion Gear Hands no rommpan */

@media (min-width: 1025px) {




    .other-products article {
        width: 400px;
        height: 609px;
    }

    .other-products article:nth-child(3) {
        margin-right: 0;
    }
 
    .learn-container {
        width: 100%;
        height: 100%;
    }
 
    .learn-container .img-container {
        height: 487px;
    }
     
}


/* version desktop */

@media (min-width: 1353px) {

    /*  edito body para que  no cresca mas de 1440 pporque a mayor resolucion se estira todo y no sirve */

    .home-container {
        max-width: 1440px;
    }

    /* Menu header*/

    .barra-navegacion {
        justify-content: flex-start;
    }

    .header-menu-container {
        display: block;
        height: 46px;
        display: flex;
        
    }

    .logo-container {
        display: flex;
        flex-grow: 0.9;
    }

    .logo-container li {
        display: inline-block;
        margin-right: 24px;
    }

    .logo-container  a {
        font-size: 18px;
        color: #FCFCFC;
    }

   

    .menu-burger img {
        display: none;
    }

    .icons-container {
        display: flex;
        flex-wrap: nowrap;

    }

    .icons-container a {
        margin-right: 16px;
    }

    .menu-header {
        display: block;
        align-self: center;
        margin-left: 24px;
        
    }



    .header-frase {
        width: 600px;
    }

    .header-container {
        padding: 37px 88px;
    }


    .lesson-container {
        left: 88px;
        right: 88px;
    }


    .new-products-separador {
        width: 88px;
    
    }

    .popular-finds-separador {
        width: 88px;
        
    }

    .gear-hands-separador {
        width: 88px;
        order: -5;
    }

    .product-container {
        width: 400px;
    }

    .new-products article:nth-child(4) {
        display: none;

    }

    .popular-finds article:nth-child(3){
        display: none;
    }

    .other-products article:nth-child(4) {
        display: block;
    }

    
    /* cambio ordenes de las cajas para variar un poco el contenido de la seeccion gear hands */

    .other-products h3{
        order: -4;
    }
    
    .other-products article:nth-child(3){
        order: -2;
        width: 616px;
    }

    .other-products article:nth-child(5) {
        order: -3;
        width: 616px;
    }

    .other-products article:nth-child(4) {
        order: -1;
    }

    .other-products .product-container {
        width: 100%;
    }
    
}


