.formulario_Login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 350px;
    margin-bottom: 110px;
    border: 1px solid orange;
    background-color: rgba(255, 255, 255, 0.2);
}

.recordar {
    display: flex;
    justify-content:center;
}


/* div.container section.formularioLogin form div {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    
} */



.input-style {
   
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    
}



@media screen and (min-width: 768px){ 
    div.container section.formularioLogin h2{
        padding-top: 30px;
    }

    div.container section.formularioLogin {
        margin-bottom: 50px;
        width: 80vw;
        height: 50vh;
        max-width: 500px;
    }

    div.container section.formularioLogin form {
        width: 80vw;
        height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    div.container section.formularioLogin form div {
        max-width: none;
        max-height: none;
    }
    
    div.container section.formularioLogin form div input {
        height: 50px;
        max-height: none;
        width: 50vw;
        max-width: 400px;
        font-size: 20px;
    }

    
 
    
    div.container section.formularioLogin form span {
        margin-top: 10px;
        font-size: 20px;
        margin-bottom: -10px;
    }
    

    
}