.registro body {
font-family: 'Work Sans';
margin: 0;
background: url(/images/lespaul.jpg);
background-size: cover;
background-attachment: fixed; 
}
.registro * {
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    background-color: white;
    padding: 15px;
}
.formulario {
    background-color: white;
    margin-top: 150px;
    padding: 3px;
}

.regsitro h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

.registro input[type="tex"],
.registro input[type="pasword"] {
    font-size: 20px;
    width: 82%;
    background-color: white;
    padding: 10px;
    border: none;
   
}
.span.error-message {
    text-align: center;
}
.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
    background-color: white;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
 border: none;
 width: 100%;
 color: white;
 font-size: 20px;
 background-color: #fa7a03; 
 padding: 15px 20px;
 border-radius: 5px;
 cursor: pointer;
}
.button:hover{
    background-color:#fa7a03;
}

@media(min-width:768px){

.formulario{
     margin: auto;
     width: 500px;
     margin-top: 150px;
     border-radius: 2%;
}
 }