
.contenedor-formulario{
    width: 100%;
    padding: 15px;
}



.formulario{
    background: #ffffff;
    margin-top: 150px;
    margin: auto;
    padding: 3px;
}

.titulo-formulario{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input{
    font-size: 20px;
    width: 82%;
    padding: 10px;
    border: none;
}

.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid #aaa;
}

.input-contenedor i{
    min-width: 50px;
    text-align: center;
    color: #999
}


.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover{
   background: cadetblue;
}

.texto-formulario{
    padding-top: 20px;
    text-align: center;
}

.link-formulario{
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link-formulario:hover{
    color: cadetblue;
}

@media(min-width:768px){
    .formulario{
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 3%;
    }
}