.registro body {
font-family: 'Work Sans';
margin: 0;
background: url(/images/lespaul.jpg);
background-size: cover;
background-attachment: fixed; 
}
.registro * {
    box-sizing: border-box;
    font-family:'Work Sans, Sans Serif';
    
    
}

.form {
    width: 400px;
    height: 500px;
    background-color: hsl(0, 0%, 15%);
    color: white;
    padding: 30px;
    margin: auto;
    margin-top: 100xp;
    border-radius: 8px;
    font-family:'Work Sans, Sans Serif'  ;
}

.form h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.control {
    width: 100%;
    background-color: hsl(0, 0%, 15%);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'Work Sans, Sans Serif';
    font-size: 18px;
}
.formulario {
    background-color: white;
    margin-top: 150px;
    padding: 3px;
}

.regsitro h1{
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.registro input[type="tex"],
.registro input[type="pasword"] {
    font-size: 20px;
    width: 82%;
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
}
.error-message {
    text-align-last: auto;
}



@media(min-width:768px){

.formulario{
     margin: auto;
     width: 500px;
     margin-top: 150px;
     border-radius: 2%;
}
 }