body {
font-family: 'Work Sans';
margin: 0;
background: url(/images/lespaul.jpg);
background-size: cover;
background-attachment: fixed; 
}
* {
    box-sizing: border-box;
}
.contenedor {
    width: 100%;
    background-color: white;
    padding: 15px;
}
.formulario {
    background-color: white;
    margin-top: 150px;
    padding: 3px;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

input[type="tex"],
input[type="pasword"] {
    font-size: 20px;
    width: 82%;
    background-color: white;
    padding: 10px;
    border: none;
   
}
.span.error-message {
    text-align: center;
}
.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
    background-color: white;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: #999;
}
.button{
 border: none;
 width: 100%;
 color: white;
 font-size: 20px;
 background-color: #fa7a03; 
 padding: 15px 20px;
 border-radius: 5px;
 cursor: pointer;
}
.button:hover{
    background-color:#fa7a03;
}

.smedia-text{
    padding: 0.7rem 0;
    margin: 1rem;
}

.social-media{
    display: flex;
    justify-content: center;

}

.social-icon {
    height: 46px;
    width: 46px;
    border: 1px solid #333;
    margin: 0 0.45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.3rem;
    border-radius: 50%;
    transition: all 1s;
}
.icon-container {
    display: flex;
}

.register-container{
    padding-top: 10px;
}
.no-acc{
    font-weight: bold;
    font-size: 17px;
}

@media(min-width:768px){

.formulario{
     margin: auto;
     width: 500px;
     margin-top: 150px;
     border-radius: 2%;
}
 }