/* estilos */

@import url('general.css');
/* home */
@import url('./home/home.css');
/* detalle de producto*/
@import url('./detailsProduct/detailsProduct.css');

@import url('./admin/addProduct.css');
/* formularios */
@import url('./login.css');
@import url('./registro.css');
/* Carrito */
@import url('./carrito2.css');
@import url('./home/header.css');