#guitar-details, #cuerda-details, #pedal-details, #cable-details{
    display: none;

}





.form-addProduct {
    margin-bottom: 200px;
}
.admin-container {
    background: radial-gradient(98.56% 98.92% at 1.22% 1.08%, #FBFBFB 0%, #D3D3D3 100%)
}

.form-container1 {
    width: 90%;
    margin: 20px auto;
    background-color: #ECECEC;
    padding: 24px 20px;
    border-radius: 3px;
    border: 1px solid rgba(146, 146, 146, 0.301);
    box-shadow: 0 5px 10px -5px rgba(0 0 0 / 30%);
    text-align: left;

    
}

.form-container1 h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-grow: 1;
}

.input-container1 {
    display: flex;
    flex-direction: column;
    
}

.input-container1 label {
    margin-bottom: 8px;
    margin-top: 21px;
    font-weight: 500;
    width: 300px;
    height: 35px;
}

.input-container1 .input-style1 {
    height: 35px;
    border: 1px solid rgba(146, 146, 146, 0.301);
    border-radius: 5px;
    padding: 10px;
    outline-color: #FF753A;
    width: 300px;
    
}


.file {
    display: none;
}

.btn-file {
    border: 1px solid rgba(146, 146, 146, 0.301);
    border-radius: 6px;
    background-color: #FF753A;
    padding: 4px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    
    
    
}

.file-container {
    margin-top: 43px;
}

.error-message1 {
    color: red;
    font-size: 12px;
    padding: 0 3px;
    
}

.form-container1 select {
    border: 1px solid rgba(146, 146, 146, 0.301);
    border-radius: 5px;
    height: 35px;
    padding: 2px 10px;
    outline-color: #FF753A;
}

.form-container1 textarea {
    padding: 10px;
    outline-color: #FF753A;
}

.btn-container{
    text-align: center;
}

.btn-switch {
    margin-top: 30px;
    flex-direction: row;
    align-items: center;
}



.input-container1 .lbl-switch {
    display: inline-block;
    width: 55px;
    height: 30px;
    background: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;

}

#stock:checked + .lbl-switch {
    background: #FF753A;

}

.input-container1 .lbl-switch::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #FFF;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: 0.3s;

}

#stock:checked + .lbl-switch::after {
    left: 28px;
    
}

#stock {
    display: none;
}

.lbl-stock {
    margin-left: 15px;
    font-weight: 500;
}




@media (min-width: 768px) {
    .form-container1 {
        max-width: 800px;
    }
    .inputs-container1 {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        gap: 6px 34px;
    }

    .input-description-container {
        padding: 42px;
    }

    .btn-switch {
        width: 630px;
    }

    
}
