.listProduct .tabla {
    height: 100vh;
    
}

.listProduct h2 {
    margin-bottom: 5px;
    margin-top: 5px;
    
}

.tabla {
    font-size: 10px;

}

.tabla table {
    width: 100%;
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
}

.listProduct table tr {
    border-bottom: 1px solid black;
}

.listProduct thead th {
    background-color: #FF753A;
}

.listProduct td, th {
    
    padding: 5px 5px;
    
}



.btn-edit {
    color: green;
    
}

.btn-danger {
    color: red;
    background-color: rgb(28 5 77 / 0%);
    margin-top: 6px;
    border: none;
    cursor: pointer;
    
}


.listProduct tbody tr:hover {
    background-color: darkgrey;
}



@media(min-width: 768px) {
    .tabla {
        font-size: 16px;
    }
}