<!DOCTYPE html>
<html lang="en">
    <%-include('../partials/head')  %> 
<body class="forms">
    <%-include('../partials/header')  %> 
        <div class="login-container">
            <div class="login.box">
                <img src="images/Central Music Logo.svg" alt="logo-fa-music" style="max-width: 100%;">
            </div>
            <section class="form-container login formulario">
            <h2 class="nombreLogin">LOGIN</h2>
                <form action="" method="">
                    <div class="input-contenedor">
                        <span class="error-message">Email</span>
                        <input type="email" class="input-style" name="email" placeholder="Ingrese su email" required>
                    </div>
                    <div class="input-contenedor">
                        <span class="error-message">Contrase침a</span>
                        <input type="password" class="input-style" name="pass" placeholder="Ingrese una contrase침a" required>
                        <h1>Olvido su contrase침a?</h1>
                    </div>
                    <div class="input_check-container">
                        <label for="recordar">Recordarme</label>
                        <input type="checkbox" name="remember" id="recordar">
                        <span class="error-message">Credenciales inv치lidas</span>
                    </div>
                    <div class="btn-container">
                        <button type="submit" class="btn btn-submit">Ingresar</button>
                    </div>
                </form>
            <span><a href="/register" class="noTengoCuenta">No tengo cuenta</a></span>
            </section>
        </div>
     <%-include('../partials/footer')  %> 
</body>
</html>